<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.syj.spring.ex.jsp.repository.UserRepository">
 
 	<insert id="insertUser"
 	parameterType="map">
 		INSERT INTO
 			`new_user`
 		(
 			`name`
 			, `yyyymmdd`
 			, `email`
 			, `introduce`
 		)
 		VALUE
 		(
 			#{name}
 			, #{birthday}
 			, #{email}
 			, #{introduce}
 		) 	
 	</insert>
 	
 	<select id="selectLastUser"
 	resultType="com.syj.spring.ex.jsp.domain.User">
 		SELECT
 			`id`
 			, `name`
 			, `yyyymmdd`
 			, `email`
 			, `introduce`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`new_user`
 		ORDER BY
 			`id` DESC
 		LIMIT 
 			1
 	</select>

 </mapper>